
$primary-color: #2E2F42;
$secondary-color: #4D5AE5;
$background-color: #F4F4FD;
$text-color: #434455;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-size-base: 16px;
